*{
    margin: 0 auto;
    padding: 0;
    box-sizing: content-box;
}

/*header*/
header{
    background-color: skyblue;
}

.content{
    width: 30%;
    border: dotted black;
    line-height: normal;
    height: fit-content;
}

.content1{
    width: 40%;
    border: dotted black;
    height: fit-content;
}


.container{
    height: 100px;
    align-items: center;
    max-width: 80%;
}


/*footer*/


/*utility*/

.t-right{
    text-align: right;
}

.t-center{
    text-align: center;
}

.d-flex{
    display: flex;
}



/*colors*/

.bcolor-red{
    background-color: red;
}

.bcolor-blue{
    background-color: blue;
}

.bcolor-skyblue{
    background-color: skyblue;
}

.bcolor-royalblue{
    background-color: royalblue;
}

.bcolor-acquamarine{
    background-color: aquamarine;
}


.bcolor-green{
    background-color: green;
}

.bcolor-olivedrab{
    background-color: olivedrab;
}

.bcolor-gold{
    background-color: goldenrod;
}

.bcolor-rosybrown{
    background-color: rosybrown;
}

.bcolor-pink{
    background-color: pink;
}

.bcolor-white{
    background-color: white;
}

.bcolor-white{
    background-color: grey;
}

.bcolor-black{
    background-color: black;
}
